.header{
    position: fixed;
    top: 0;
    left: 0; 
    z-index: 100;
    width: 100%;
    min-width: 320px;
    height: 60px;
    /* padding-top: 10px; */
    background-color: rgba(0, 0, 0, 0.80);
}
.header .nav{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
}
.header .nav-link{
    color: var(--white);
    text-decoration: none;
}
.header .nav-menu{
    position: static;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    line-height: 60px;
    background: none;
}
.header .nav-menu-item{
    font-size: 1.6rem;
    margin: 0 10px;
    line-height: 60px;
    text-transform: uppercase;
    width: max-content;
}
.header .nav-menu-link:hover{
    transition: 0.5s;
    color: var(--principal-blue);
}
.header .nav .toggle{
    display: none;
    width: 20%;
    color: var(--white);
    background: none;
    border: none;
    font-size: 3rem;
    padding: 0 5px;
    line-height: 10px;
}