/* 
    >>> CONVENCION DE OREN DE ESTILOS <<<

1.-POSICIONAMIENTO => (position fix, relative, display flex, grid etc, todo aquello que ayuda a posicionar en el 
    layout directamente el elemento.
2.-MODELO DE CAJA (Box model => margin, padding, width, height, aquello que ayuda a para dar dimension)
3.-TIPOGRAFÍA (tipo de fuentes, tamaño de fuentes)
4.-TEMAS VISUALES (shadow-box, border-radius) el tipo de cosas más efectos visuales que hacen que los estilos 
    y componentes se vean mas atractivos.
5.-MISCELANEOS / OTROS 
*/

:root{
    /* COLORES */
    --principal-blue: #3391f5;
    --soft-white: #fff;
    --dark-blue: #0d0d5f; /* 0d0d5f 111135 */
    --gray: #565656;
    --clear-gray: #919191;
 }
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 62.5%;
    font-family: 'Oswald', sans-serif;
    scroll-behavior: smooth;
}

/* HOME SECTION */

.header{
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 320px;
    height: 15vh;
    background-color: rgba(0, 0, 0, 0.80);
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
}
.header .logo img{
    width: 148px;
    height: 44px;
    margin-top: 5px;
    margin-left: 5px;
}
.header .header-content nav ul{
    list-style: none;
    display: flex;
    align-items: center; 
}
.header .header-content nav ul li a{
    text-decoration: none;
    font-size: 1.6rem;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: 0.5s;
}
.header .header-content nav ul li a:hover{
    color: var(--principal-blue);
}
.header .header-content .networks{
    width: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.header .header-content .networks .github{
    display: inline-block;
    background-image: url('/assets/icons/github-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    filter: opacity(50%);
    transition: 0.5s;
}
.header .header-content .networks .linkedin{
    display: inline-block;
    background-image: url('/assets/icons/linkedin-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    filter: opacity(50%);
    transition: 0.3s;
}
.header .header-content .networks span:hover{
    color: var(--principal-blue);
    filter: opacity(100%);
    transform: scale(1.4);
}

/* WELCOME SECTION */

#welcome{
    background: linear-gradient(rgba(0, 0, 0, 0.40), rgba(0, 0, 0, 0.40)), url('fondo-img');
    background-size: cover;
    background-position: center center;
}
#welcome .presentation{
    font-size: 1.5rem;
    max-width: 1100px;
    max-height: auto;
    margin: auto;
    padding-top: 100px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#welcome .presentation{
    font-size: 1.6rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    /* font-size: 2.2rem; */
}
#welcome .presentation h2 span{
    width:50%;
    font-size: 4.0rem;
    text-align: left;
    color: var(--principal-blue);
}
#welcome .presentation h2{
    font-size: 1.6rem;
    margin-bottom: 25px;
    text-align: center;
}
#welcome .presentation .description{
    max-width: 700px;
    margin: 25px;
    font-size: 1.2rem;
    text-align: justify;
}
#welcome .presentation a{
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    /* font-weight: bold; */
    text-transform: uppercase;
    transition: .5s;
    letter-spacing: 0.2rem;
}
#welcome .presentation a:hover{
    background-color: var(--principal-blue);
}
#nav-icon{
    color: #fff;
    display: none;
}

/* ABOUT ME SECTION */

#aboutme{
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: var(--dark-blue);
    display: flex;
}
#aboutme .picture-container{
    max-width: 400px;
    margin-right: 80px;
}
#aboutme .picture-container img{
    padding: 20px;
    width: 100%;
    border-radius: 50px;
    background-color: #f3f3f3; 
}
#aboutme .aboutme{
    margin: 0 40px;
}
#aboutme .aboutme .section-title{
    font-size: 3.2rem;
    text-decoration: uppercase;
    color: var(--dark-blue);
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: .5rem;
}
#aboutme .aboutme h2{
    font-size: 3.4rem;
    font-weight: bold;
    margin: 20px 0;
    letter-spacing: .2rem;
}
#aboutme .aboutme h2 span{
    color: var(--principal-blue);
}
#aboutme .aboutme h3{
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: .15rem;

}
#aboutme .aboutme p{
    font-size: 2.0rem;
    line-height: 2.5rem;
    color: var(--gray);
    margin-bottom: 12px;
}
#aboutme .aboutme a{
    display: inline-block;
    font-size: 1.6rem;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    padding: 10px 20px;
    border: 1px solid #000;
    margin-top: 30px;
    transition: .5s;
}
#aboutme .aboutme a:hover{
    background-color: var(--principal-blue);
    color: #fff;
}

/* SKILLS SECTION */

.skills-container{
    /* background: linear-gradient(#197abe, rgba(33, 16, 16, 0.40)), url('#fondo-skills.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.60), rgba(0, 0, 0, 0.60)), url('/assets/images/fondo-skills1.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
}
.skills-container h3{
    color: #fff;
    font-size: 3.0rem;
}
.skills-container .skill{
    max-width: 600px;
    margin: 30px auto;
}
.skills-container .skill .info{
    display: flex;
    justify-content: space-between;
    font-size: 1.9rem;
    color: #fff;
}
/* .skills-container .skill .list{
    display: inline-block;
    margin-right: 60px;
    height: 10px;
    width: 10px;
    background-color: #fff;
} */
.skills-container .skill .bar{
    /* background-color: #c79543; */
    /* background-color: #ffc300; */
    background-color: var(--clear-gray);
    width: 100%;
    height: 10px;
    margin: 10px;
}
/* Este estilo aplicará mediante JavaScript para lograr la animación de la barra */
.skill-container .skill .bar .bar-progress1{
    background-color: #c79543;
    width: 30%;
    height: 10px;
    animation: progress1 2s forwards;
}
.skill-container .skill .bar .bar-progress2{
    background-color: #c79543;
    width: 30%;
    height: 10px;
    animation: progress2 2s forwards;
}
.skill-container .skill .bar .bar-progress3{
    background-color: #c79543;
    width: 30%;
    height: 10px;
    animation: progress3 2s forwards;
}
.skill-container .skill .bar .bar-progress4{
    background-color: #ffc300;
    width: 45%;
    height: 10px;
    animation: progress4 2s forwards;
}
.skill-container .skill .bar .bar-progress5{
    background-color: #ffc300;
    width: 40%;
    height: 10px;
    animation: progress5 2s forwards;
}
/* Creación de animaciones de las barras */
@keyframes progress1{
    0%{
        width: 0;
    }
    100%{
        width: 33%;
    }
}
@keyframes progress2{
    0%{
        width: 0;
    }
    100%{
        width: 33%;
    }
}
@keyframes progress3{
    0%{
        width: 0;
    }
    100%{
        width: 30%;
    }
}
@keyframes progress4{
    0%{
        width: 0;
    }
    100%{
        width: 45%;
    }
}
@keyframes progress5{
    0%{
        width: 0;
    }
    100%{
        width: 40%;
    }
}

/* PORTFOLIO SECTION */

#portfolio{
    max-width: 1100px;
    padding: 100px 0;
    margin: auto;
}
#portfolio .title-section{
    text-align: center;
    font-size: 3.0rem;
    text-transform: uppercase;
    color: var(--dark-blue);
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#portfolio .row{
    max-width: 1100px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px auto;
}
#portfolio .row .project{
    max-width: 500px;
    /* border: 1px solid #000; */
    padding: 10px;
    margin: 30px 10px;
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    transition: 0.5s;
}
#portfolio .row .project:hover{
    box-shadow: 5px 5px 15px var(--clear-gray), -5px -5px 15px #8a8a8a; 
    transform: scale(1.1);
}
#portfolio .row .project img{
    width: 100%;
    height: 100%;
    border-radius: 8px;
    filter: opacity(60%) blur(1px);
    object-fit: cover;
    transition: 0.5s;
}
#portfolio .row .project:hover img{
    filter: opacity(1) blur(0);
}
#portfolio .row .project .info{
    /* font-size: 1.4rem; */
    position: absolute;
    left: 0;
    background-color: rgba(0, 0, 0, 0.80);
    /* color: #197abe; */
    width: 100%;
    padding: 10px;
    opacity: 0;
    bottom: -40px;
    transition: 0.5s;
}
#portfolio .row .project .info h4{
    font-size: 1.8rem;
    color: var(--principal-blue);
    letter-spacing: .1rem;
}
#portfolio .row .project .info p{
    font-size: 1.4rem;
    color: white;
}
#portfolio .row .project:hover .info{
    opacity: 1;
    bottom: 0;
}

/* CONTACT SECTION */

#contact{
    padding: 100px 15px;
}
#contact .title-section{
    margin-bottom: 20px;
    font-size: 2.5rem;
    text-align: center;
    text-transform: uppercase;
    color: var(--dark-blue);
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}
#contact .form-container{
    max-width: 1100px;
    margin: auto;
}
#contact .form-container .middle-row{
    display: flex;
    justify-content: space-between;
}
#contact .form-container .row{
    margin-bottom: 20px;
}
#contact .form-container input,
#contact .form-container textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid var(--clear-gray);
}
#contact .form-container .middle-row input{
    width: 48%;
    margin-bottom: 20px;
}
#contact .form-container .full-input{
    width: 100%;
}
.btn-send{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: 0.5s;
    padding: 10px 15px;
    font-size: 1.6rem;
    font-weight: bold;
    border: none;
}
#contact .btn-send:hover{
    background-color: var(--principal-blue);
    color: #fff;
    border: none;
}

/* FOOTER */

footer{
    font-size: 2rem;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}
footer .networks .github{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 15px;
    background-image: url('/assets/icons/github-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}
footer .networks .linkedin{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 15px;
    background-image: url('/assets/icons/linkedin-icon.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}